<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant Form</title>
    <!-- Setting CSS style for our website -->
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/deleteRestaurants.js"></script>
    <style>
    </style>
</head>

<body>
    <!-- Creating components for our navigation bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/attractions">Attractions</a>
        <a href="/restaurant">Restaurants</a>
        <a href="/new_restaurant">New Restaurant</a>
    </div>
    <div class="card-container" id="cardContainer"></div>
    <div class="restaurant-list">
        <!-- restaurantData is defined by our javascript that renders our data get sent to this .ejs file. -->
        <% restaurantReviews.forEach(function(restaurant) { %>
            <div class="restaurant-card" data-id="<%= restaurant.id %>">
                <a href="/restaurant/<%= restaurant.id %>" class="restaurant-link">
                    <!-- <h2><%= restaurant.rating %></h2> -->
                    <p><strong>Restaurant ID: </strong> <%= restaurant.id %></p>
                    <p><strong>Rating: </strong> <%= restaurant.rating %></p>
                    <p><strong>Content: </strong> <%= restaurant.content %></p>
                </a>
            </div>
        <% }); %>            
    </div>
</body>
</html>
