<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--     <title>Create New Restaurant Form</title> -->
<!--     <!-1- Setting CSS style for our website -1-> -->
<!--     <link rel="stylesheet" href="styles.css"> -->
<!--     <style> -->
<!--     </style> -->
<!-- </head> -->
<!-- <body> -->
<!--     <div class="grid-restaurant"> -->
<!--         <% for (let i = 0; i < restaurantData.length; i++) { %> -->
<!--             <article class="restaurant-grid"> -->
<!--                 <a href="/new_restaurants/<%= restaurantData[i].id %>"> -->
<!--                     <%= restaurantData[i].name %> -->
<!--                     <%= restaurantData[i].address %> -->
<!--                     <%= restaurantData[i].photoUrl %> -->
<!--                     <!-1- <%= restaurantData[i].name %> -1-> -->
<!--                     <!-1- <%= restaurantData[i].name %> -1-> -->
<!--                 </a> -->
<!--                 <button id="delete_restaurant-<%= restaurantData[i].id %>"> X </button> -->
<!--             </article> -->
<!--         <% } %> -->
<!--     </div> -->
<!--     <div class="card-container" id="cardContainer"></div> -->
<!--     <!-1- Script for handling users click events on the submission -1-> -->
<!--     <script src="scripts/restaurantSubmit.js"></script> -->
    

<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant Form</title>
    <!-- Setting CSS style for our website -->
    <link rel="stylesheet" href="styles.css">
    <style>
    </style>
</head>

<body>
    <!-- Creating components for our navigation bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/attractions">Attractions</a>
        <a href="/restaurant">Restaurants</a>
        <a href="/new_restaurant">New Restaurant</a>
    </div>
    <div class="card-container" id="cardContainer"></div>
    <!-- Script for handling users click events on the submission -->
    <!-- <div class="grid-restaurant"> -->
    <% for (let i = 0; i < restaurantData.length; i++) { %>
    <article class="restaurant-grid">
        <!--     <%= restaurantData[i].name %> -->
        <!-- </a> -->
        <img src="<% restaurantData[i].photo %>">
        <div class="card content">
            <p> <%= restaurantData[i].name %></p>
            <p> <%= restaurantData[i].address %></p>
            <p> <%= restaurantData[i].phone %></p>
            <img src="<%= restaurantData[i].photo %>"/>
            <button id="delete_restaurant"> X </button>
        </div>

    </article>
    <% } %>
</body>
</html>
