<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant Form</title>
    <!-- Setting CSS style for our website -->
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/deleteRestaurants.js"></script>
    <style>
    </style>
</head>

<body>
    <!-- Creating components for our navigation bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/attractions">Attractions</a>
        <a href="/restaurant">Restaurants</a>
        <a href="/new_restaurant">New Restaurant</a>
    </div>
    <div class="card-container" id="cardContainer"></div>
    <div class="restaurant-list">
        <!-- restaurantData is defined by our javascript that renders our data get sent to this .ejs file. -->
        <% restaurantData.forEach(function(restaurant) { %>
            <div class="restaurant-card" data-id="<%= restaurant.id %>">
                <a href="/restaurant/<%= restaurant.id %>" class="restaurant-link">
                    <h2><%= restaurant.name %></h2>
                </a>
                <p><strong>Address:</strong> <%= restaurant.address %></p>
                <p><strong>Contact Info:</strong> <%= restaurant.phone %></p>
                <img src="<%= restaurant.photo %>" alt="<%= restaurant.name %>" class="restaurantimg">

                <% const reviews = restaurantReviews.filter(review => review.id == restaurant.id); %>
                
                <!-- Rendering the reviews data per restaurant -->
                <!-- Removing this from being shown on the front-end because I think this is best when shown if clicked on to their own separate front-end websites. -->
                <!-- <% if (reviews.length > 0){ %> -->
                <!-- <% reviews.forEach(function(review){ %> -->
                <!-- <li> -->
                <!--     <p><strong>Restaurant ID:</strong> <%= review.id %></p> -->
                <!--     <p><strong>Rating:</strong> <%= review.rating %></p> -->
                <!--     <p><strong>Content:</strong> <%= review.content %></p> -->
                <!-- </li> -->
                <!-- <% }); %> -->
                <!-- <% } %> -->
                
                <!-- Rendering average reviews per restaurant -->
                <% const total_reviews = totalAverageRestaurantReviews.filter(review => review.id == restaurant.id); %>
                <% total_reviews.forEach(function(review){ %>
                <li>
                <p><strong>Average Ratings:</strong> <%= review.averageRating %> </p>
                </li>
                <% }); %>
                <button class="deleteBtn" id="<%= restaurant.id %>">Delete</button>

            </div>
        <% }); %>
        
    </div>
</body>
</html>
